trunk/lvkoppeling/doc/stuftax/xsd_schemas/bagstuf.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by Administrator (EMBRACE) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.vrom.nl/bag/stuf/0120" xmlns:StUF="http://www.egem.nl/StUF/StUF0205" xmlns:bag-stuf="http://www.vrom.nl/bag/stuf/0120" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="bag-stuf" targetNamespace="http://www.vrom.nl/bag/stuf/0120">
	<import namespace="http://www.egem.nl/StUF/StUF0205" location="../../stuf/stuf0205.xsd"/>
	<import namespace="http://www.vrom.nl/bag/stuf/0120" location="bag-stuf-msg.xsd"/>
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.vrom.nl/bag/stuf/0120">
</xsd:schema>
	</types>
	<message name="STUFBAG_Kennisgeving">
		<part name="kennisgevingBericht" element="bag-stuf:kennisgevingsBericht"/>
	</message>
	<message name="STUFBAG_Vraag">
		<part name="vraag" element="bag-stuf:vraagBericht"/>
	</message>
	<message name="STUFBAG_SynchroonAntwoord">
		<part name="synchroonAntwoordBericht" element="bag-stuf:synchroonAntwoordBericht"/>
	</message>
	<message name="StUF_Fout">
		<part name="fout" element="StUF:foutBericht"/>
	</message>
	<portType name="STUFBAG_SynchroonPortType">
		<documentation>
			BAG kennisgevingsberichten en vraagberichten zijn synchroon. Met als response een (synchroon)antwoordbericht of een foutbericht.
		</documentation>
		<operation name="ontvangKennisgeving">
			<input message="tns:STUFBAG_Kennisgeving"/>
			<output message="tns:STUFBAG_SynchroonAntwoord"/>
			<fault name="StUF_Fout" message="tns:StUF_Fout"/>
		</operation>
		<operation name="beantwoordVraag">
			<input message="tns:STUFBAG_Vraag"/>
			<output message="tns:STUFBAG_SynchroonAntwoord"/>
			<fault name="StUF_Fout" message="tns:StUF_Fout"/>
		</operation>
	</portType>
	<binding name="StUFSOAPBindingSynchroon" type="tns:STUFBAG_SynchroonPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ontvangKennisgeving">
			<soap:operation soapAction="urn:ontvangKennisgeving"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="StUF_Fout">
				<soap:body use="literal"/>
			</fault>
		</operation>
		<operation name="beantwoordVraag">
			<soap:operation soapAction="urn:beantwoordVraag"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="StUF_Fout">
				<soap:body use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="STUFBAGSynchroon">
		<port name="STUFBAGSynchronePort" binding="tns:StUFSOAPBindingSynchroon">
			<soap:address location="http://localhost:8080/bag-web/services/BagWebService"/>
		</port>
	</service>
</definitions>
