lvkoppeling/doc/stuftax/xsd_schemas/bag/0120/bag-stuf-msg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:StUF="http://www.egem.nl/StUF/StUF0205" xmlns:bag="http://www.vrom.nl/bag/0120" xmlns:bag-stuf="http://www.vrom.nl/bag/stuf/0120" targetNamespace="http://www.vrom.nl/bag/stuf/0120" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import namespace="http://www.egem.nl/StUF/StUF0205" schemaLocation="../../stuf/stuf0205.xsd"/>
   <xs:import namespace="http://www.vrom.nl/bag/0120" schemaLocation="bag.xsd"/>
   <xs:annotation>
      <xs:documentation>BAG-StUF berichten standaard op basis van StUF 0205 en BAG 0120. 
      bag-stuf-msg.xsd:  versie 01.20,  14 december 2006</xs:documentation>
   </xs:annotation>
   <!--==========================================================================================================-->
   <!--== Berichten ==-->
   <!--==========================================================================================================-->
   <xs:element name="kennisgevingsBericht">
      <xs:annotation>
         <xs:documentation>body voor kennisgevingsberichten BAG (aanmelden en wijzigen)</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="StUF:stuurgegevens"/>
            <xs:element name="body">
               <xs:complexType>
                  <xs:choice>
                     <!-- Er is hier een choice gebruikt, omdat hier alle kennisgevingen vanuit het sectormodel BG gedefinieerd moeten worden -->
                     <xs:element name="pand" maxOccurs="2">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:Pand"/>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="verblijfsObject" maxOccurs="2">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:VerblijfsObject">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeAdressen" type="bag-stuf:HeeftNummerAanduiding"/>
                                    <xs:element name="GerelateerdPand" type="bag-stuf:LigtInPand"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ligplaats" maxOccurs="2">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:Ligplaats">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeAdressen" type="bag-stuf:HeeftNummerAanduiding"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="standplaats" maxOccurs="2">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:Standplaats">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeAdressen" type="bag-stuf:HeeftNummerAanduiding"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="nummerAanduiding" maxOccurs="2">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:NummerAanduiding">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeWoonplaats" type="bag-stuf:HoortBijWoonplaats" minOccurs="0"/>
                                    <xs:element name="GerelateerdeOpenbareRuimte" type="bag-stuf:HoortBijOpenbareRuimte"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="openbareRuimte" maxOccurs="2">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:OpenbareRuimte">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeWoonplaats" type="bag-stuf:HoortBijWoonplaats"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="woonplaats" type="bag-stuf:Woonplaats" maxOccurs="2"/>
                  </xs:choice>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="vraagBericht">
      <xs:annotation>
         <xs:documentation>body voor vraag-berichten BAG</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="StUF:stuurgegevens"/>
            <xs:element name="body">
               <xs:complexType>
                  <xs:choice>
                     <!-- Er is hier een choice gebruikt, omdat hier alle vraagberichten vanuit het sectormodel BG gedefinieerd moeten worden -->
                     <xs:element name="pand" nillable="true" maxOccurs="4">
                        <xs:annotation>
                           <xs:documentation>3..4 is only for being StUF compliant. It is NOT used by the BAG. This is also the case for all entities below.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:PandVraag">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeVerblijfsObject" type="bag-stuf:BevatVerblijfsObjectVraag" nillable="true" minOccurs="0"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="verblijfsObject" nillable="true" maxOccurs="4">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:VerblijfsObjectVraag">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeAdressen" type="bag-stuf:HeeftNummerAanduidingVraag" nillable="true" minOccurs="0"/>
                                    <xs:element name="GerelateerdPand" type="bag-stuf:LigtInPandVraag" nillable="true" minOccurs="0"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ligplaats" nillable="true" maxOccurs="4">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:LigplaatsVraag">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeAdressen" type="bag-stuf:HeeftNummerAanduidingVraag" nillable="true" minOccurs="0"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="standplaats" nillable="true" maxOccurs="4">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:StandplaatsVraag">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeAdressen" type="bag-stuf:HeeftNummerAanduidingVraag" nillable="true" minOccurs="0"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="nummerAanduiding" nillable="true" maxOccurs="4">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:NummerAanduidingVraag">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeWoonplaats" type="bag-stuf:HoortBijWoonplaatsVraag" nillable="true" minOccurs="0"/>
                                    <xs:element name="GerelateerdeOpenbareRuimte" type="bag-stuf:HoortBijOpenbareRuimteVraag" nillable="true" minOccurs="0"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="openbareRuimte" nillable="true" maxOccurs="4">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:OpenbareRuimteVraag">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeWoonplaats" type="bag-stuf:HoortBijWoonplaatsVraag" nillable="true" minOccurs="0"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="woonplaats" type="bag-stuf:WoonplaatsVraag" nillable="true" maxOccurs="4"/>
                  </xs:choice>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="synchroonAntwoordBericht">
      <xs:annotation>
         <xs:documentation>body voor synchrone antwoordberichten BAG</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="StUF:stuurgegevens"/>
            <xs:element name="body">
               <xs:complexType>
                  <xs:choice>
                     <!-- Er is hier een choice gebruikt, omdat hier alle antwoordberichten vanuit het sectormodel BG gedefinieerd moeten worden -->
                     <xs:element name="pand" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:PandVraag">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeVerblijfsObject" type="bag-stuf:BevatVerblijfsObjectVraag" minOccurs="0" maxOccurs="unbounded"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="verblijfsObject" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:VerblijfsObjectVraag">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeAdressen" type="bag-stuf:HeeftNummerAanduidingVraag" minOccurs="0"/>
                                    <xs:element name="GerelateerdPand" type="bag-stuf:LigtInPandVraag" minOccurs="0"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ligplaats" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:LigplaatsVraag">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeAdressen" type="bag-stuf:HeeftNummerAanduidingVraag" minOccurs="0"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="standplaats" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:StandplaatsVraag">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeAdressen" type="bag-stuf:HeeftNummerAanduidingVraag" minOccurs="0"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="nummerAanduiding" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:NummerAanduidingVraag">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeWoonplaats" type="bag-stuf:HoortBijWoonplaatsVraag" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="GerelateerdeOpenbareRuimte" type="bag-stuf:HoortBijOpenbareRuimteVraag" minOccurs="0" maxOccurs="unbounded"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="openbareRuimte" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:complexContent>
                              <xs:extension base="bag-stuf:OpenbareRuimteVraag">
                                 <xs:sequence>
                                    <xs:element name="GerelateerdeWoonplaats" type="bag-stuf:HoortBijWoonplaatsVraag" minOccurs="0"/>
                                 </xs:sequence>
                              </xs:extension>
                           </xs:complexContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="woonplaats" type="bag-stuf:WoonplaatsVraag" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:choice>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <!--==========================================================================================================-->
   <!--== ENTITEITEN ==-->
   <!--==========================================================================================================-->
   <xs:complexType name="Pand">
      <xs:annotation>
         <xs:documentation>entiteit Pand</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObject">
            <xs:sequence>
               <xs:element name="pandGeometrie" type="bag:GeometrieVlak" nillable="true"/>
               <xs:element name="bouwjaar" nillable="true">
                  <xs:annotation>
                     <xs:documentation>Oorspronkelijk bouwjaar pand</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Jaar">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="pandstatus" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusPand">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="VerblijfsObject">
      <xs:annotation>
         <xs:documentation>entiteit VerblijfsObject</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObject">
            <xs:sequence>
               <xs:element name="verblijfsObjectGeometrie" type="bag:GeometriePunt" nillable="true"/>
               <xs:element name="gebruiksdoelVerblijfsobject" nillable="true" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Gebruiksdoeleinden">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="oppervlakteVerblijfsobject" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Natuurlijkgetal">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="verblijfsobjectStatus" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusVerblijfsObject">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Ligplaats">
      <xs:annotation>
         <xs:documentation>entiteit Ligplaats</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObject">
            <xs:sequence>
               <xs:element name="ligplaatsGeometrie" type="bag:GeometrieVlak" nillable="true"/>
               <xs:element name="ligplaatsStatus" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusLigplaats">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Standplaats">
      <xs:annotation>
         <xs:documentation>entiteit Standplaats</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObject">
            <xs:sequence>
               <xs:element name="standplaatsGeometrie" type="bag:GeometrieVlak" nillable="true"/>
               <xs:element name="standplaatsStatus" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusStandplaats">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="NummerAanduiding">
      <xs:annotation>
         <xs:documentation>entiteit Nummeraanduiding</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObject">
            <xs:sequence>
               <xs:element name="nummeraanduidingStatus" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusNaamgeving">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="huisnummer" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Huisnummering">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="huisletter" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Huislettering">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="huisnummertoevoeging" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Huisnummertoevoeging">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="postcode" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Postcode">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="typeAdresseerbaarObject" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:TyperingAdresseerbareObjecttypen">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="OpenbareRuimte">
      <xs:annotation>
         <xs:documentation>entiteit Openbareruimte</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObject">
            <xs:sequence>
               <xs:element name="openbareruimteStatus" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusNaamgeving">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="openbareRuimteNaam" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:OpenbareRuimteNaam">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="openbareRuimteType" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:TyperingOpenbareRuimte">
                           <xs:attribute ref="StUF:noValue"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Woonplaats">
      <xs:annotation>
         <xs:documentation>entiteit Woonplaats</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObjectAlt">
            <xs:sequence>
               <xs:element name="woonplaatsNaam" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:WoonplaatsNaam">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="woonplaatsGeometrie" type="bag:GeometrieVlak" nillable="true"/>
               <xs:element name="woonplaatsStatus" nillable="true">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusWoonplaats">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!--==========================================================================================================-->
   <!--== 'RELATIES' ==-->
   <!--==========================================================================================================-->
   <xs:complexType name="GerelateerdPand">
      <xs:annotation>
         <xs:documentation> Gerelateerd Pand (idem als Pand, maar alleen id is nu verplicht)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:GerelateerdBagObject">
            <xs:sequence>
               <xs:element name="pandGeometrie" type="bag:GeometrieVlak" nillable="true" minOccurs="0"/>
               <xs:element name="bouwjaar" nillable="true" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Oorspronkelijk bouwjaar pand</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Jaar">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="pandstatus" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusPand">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:relatie"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GerelateerdVerblijfsObject">
      <xs:annotation>
         <xs:documentation> Gerelateerd VBO (idem als VBO, maar alleen id is nu verplicht)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:GerelateerdBagObject">
            <xs:sequence>
               <xs:element name="verblijfsObjectGeometrie" type="bag:GeometriePunt" nillable="true" minOccurs="0"/>
               <xs:element name="gebruiksdoelVerblijfsobject" nillable="true" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Gebruiksdoeleinden">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="oppervlakteVerblijfsobject" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Natuurlijkgetal">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="verblijfsobjectStatus" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusVerblijfsObject">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:relatie"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GerelateerdNummerAanduiding">
      <xs:annotation>
         <xs:documentation> Gerelateerd NA (idem als NA, maar alleen id is nu verplicht)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:GerelateerdBagObject">
            <xs:sequence>
               <xs:element name="nummeraanduidingStatus" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusNaamgeving">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="huisnummer" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Huisnummering">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="huisletter" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Huislettering">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="huisnummertoevoeging" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Huisnummertoevoeging">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="postcode" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Postcode">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="typeAdresseerbaarObject" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:TyperingAdresseerbareObjecttypen">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:relatie"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GerelateerdOpenbareRuimte">
      <xs:annotation>
         <xs:documentation> Gerelateerd OR (idem als OR, maar alleen id is nu verplicht)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:GerelateerdBagObject">
            <xs:sequence>
               <xs:element name="openbareruimteStatus" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusNaamgeving">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="openbareRuimteNaam" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:OpenbareRuimteNaam">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="openbareRuimteType" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:TyperingOpenbareRuimte">
                           <xs:attribute ref="StUF:noValue"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:relatie"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GerelateerdWoonplaats">
      <xs:annotation>
         <xs:documentation> Gerelateerd Woonplaats (idem als Woonplaats, maar alleen id is nu verplicht)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:GerelateerdBagObjectAlt">
            <xs:sequence>
               <xs:element name="woonplaatsNaam" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:WoonplaatsNaam">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="woonplaatsGeometrie" type="bag:GeometrieVlak" nillable="true" minOccurs="0"/>
               <xs:element name="woonplaatsStatus" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusWoonplaats">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:relatie"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- -->
   <xs:complexType name="LigtInPand">
      <xs:annotation>
         <xs:documentation>relatie ligt in pand</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="pand" maxOccurs="unbounded">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="bag-stuf:GerelateerdPand"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <!--         <xs:element name="Pand" type="bag:Objectnummering"/> -->
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BevatVerblijfsObject">
      <xs:annotation>
         <xs:documentation>relatie bevat verblijftsobject</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <!-- <xs:element name="tijdvakRelatie" type="StUF:TijdvakRelatie" minOccurs="0"/> -->
         <xs:element name="tijdvakGeldigheid" type="bag-stuf:TijdvakGeldigheid" minOccurs="0"/>
         <xs:element name="verblijfsObject" type="bag-stuf:GerelateerdVerblijfsObject"/>
      </xs:sequence>
      <xs:attributeGroup ref="StUF:relatie"/>
   </xs:complexType>
   <xs:complexType name="HeeftNummerAanduiding">
      <xs:annotation>
         <xs:documentation>relatie heeft nummer aanduiding</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="hoofdAdres">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="nummerAanduiding">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="bag-stuf:GerelateerdNummerAanduiding"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="nevenAdres" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="nummerAanduiding">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="bag-stuf:GerelateerdNummerAanduiding"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HoortBijOpenbareRuimte">
      <xs:annotation>
         <xs:documentation>relatie hoort bij Openbare ruimte</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="openbareRuimte">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="bag-stuf:GerelateerdOpenbareRuimte"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HoortBijWoonplaats">
      <xs:annotation>
         <xs:documentation>relatie hoort bij Woonplaats</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="woonplaats" type="bag-stuf:GerelateerdWoonplaats"/>
      </xs:sequence>
   </xs:complexType>
   <!--==========================================================================================================-->
   <!--== ENTITEITEN Vraag berichten ==-->
   <!--==========================================================================================================-->
   <xs:complexType name="PandVraag">
      <xs:annotation>
         <xs:documentation>entiteit Pand voor Vraagberichten</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObjectVraag">
            <xs:sequence>
               <xs:element name="pandGeometrie" type="bag:GeometrieVlak" nillable="true" minOccurs="0"/>
               <xs:element name="bouwjaar" nillable="true" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Oorspronkelijk bouwjaar pand</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Jaar">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="pandstatus" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusPand">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="VerblijfsObjectVraag">
      <xs:annotation>
         <xs:documentation>entiteit VerblijfsObject voor Vraagberichten</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObjectVraag">
            <xs:sequence>
               <xs:element name="verblijfsObjectGeometrie" type="bag:GeometriePunt" nillable="true" minOccurs="0"/>
               <xs:element name="gebruiksdoelVerblijfsobject" nillable="true" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Gebruiksdoeleinden">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="oppervlakteVerblijfsobject" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Natuurlijkgetal">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="verblijfsobjectStatus" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusVerblijfsObject">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="LigplaatsVraag">
      <xs:annotation>
         <xs:documentation>entiteit Ligplaats voor Vraagberichten</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObjectVraag">
            <xs:sequence>
               <xs:element name="ligplaatsGeometrie" type="bag:GeometrieVlak" nillable="true" minOccurs="0"/>
               <xs:element name="ligplaatsStatus" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusLigplaats">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="StandplaatsVraag">
      <xs:annotation>
         <xs:documentation>entiteit Standplaats voor Vraagberichten</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObjectVraag">
            <xs:sequence>
               <xs:element name="standplaatsGeometrie" type="bag:GeometrieVlak" nillable="true" minOccurs="0"/>
               <xs:element name="standplaatsStatus" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusStandplaats">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="NummerAanduidingVraag">
      <xs:annotation>
         <xs:documentation>entiteit nummeraanduiding voor Vraagberichten</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObjectVraag">
            <xs:sequence>
               <xs:element name="nummeraanduidingStatus" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusNaamgeving">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="huisnummer" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Huisnummering">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="huisletter" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Huislettering">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="huisnummertoevoeging" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Huisnummertoevoeging">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="postcode" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:Postcode">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="typeAdresseerbaarObject" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:TyperingAdresseerbareObjecttypen">
                           <xs:attribute ref="StUF:noValue"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="OpenbareRuimteVraag">
      <xs:annotation>
         <xs:documentation>entiteit openbare ruimte voor Vraagberichten</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObjectVraag">
            <xs:sequence>
               <xs:element name="openbareruimteStatus" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusNaamgeving">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="openbareRuimteNaam" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:OpenbareRuimteNaam">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="openbareRuimteType" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:TyperingOpenbareRuimte">
                           <xs:attribute ref="StUF:noValue"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="WoonplaatsVraag">
      <xs:annotation>
         <xs:documentation>entiteit woonplaats voor Vraagberichten</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="bag-stuf:BagObjectVraagAlt">
            <xs:sequence>
               <xs:element name="woonplaatsNaam" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:WoonplaatsNaam">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="woonplaatsGeometrie" type="bag:GeometrieVlak" nillable="true" minOccurs="0"/>
               <xs:element name="woonplaatsStatus" nillable="true" minOccurs="0">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="bag:StatusWoonplaats">
                           <xs:attributeGroup ref="StUF:element"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="StUF:fundamenteel"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!--==========================================================================================================-->
   <!--== RELATIES Vraag berichten ==-->
   <!--==========================================================================================================-->
   <xs:complexType name="LigtInPandVraag">
      <xs:annotation>
         <xs:documentation>relatie ligt in pand voor Vraagberichten</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="pand" type="bag-stuf:PandVraag" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BevatVerblijfsObjectVraag">
      <xs:annotation>
         <xs:documentation>relatie bevat verblijftsobject voor Vraagberichten</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="verblijfsObject" minOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="bag-stuf:VerblijfsObjectVraag">
                     <xs:sequence>
                        <xs:element name="GerelateerdeAdressen" type="bag-stuf:HeeftNummerAanduidingVraag" minOccurs="0"/>
                     </xs:sequence>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HeeftNummerAanduidingVraag">
      <xs:annotation>
         <xs:documentation>relatie heeft nummer aanduiding voor Vraagberichten</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="hoofdAdres" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="nummerAanduiding" minOccurs="0">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="bag-stuf:GerelateerdNummerAanduiding"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="nevenAdres" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="nummerAanduiding">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="bag-stuf:GerelateerdNummerAanduiding"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HoortBijOpenbareRuimteVraag">
      <xs:annotation>
         <xs:documentation>relatie hoort bij Openbare ruimte voor Vraagberichten</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="openbareRuimte" minOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="bag-stuf:OpenbareRuimteVraag"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HoortBijWoonplaatsVraag">
      <xs:annotation>
         <xs:documentation>relatie hoort bij Woonplaats voor Vraagberichten</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="woonplaats" type="bag-stuf:WoonplaatsVraag" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!--==========================================================================================================-->
   <!--== Hulp types ==-->
   <!--==========================================================================================================-->
   <xs:complexType name="BagObject">
      <xs:annotation>
         <xs:documentation>Base type met audit, brondoc en geldigheid</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identificatie" nillable="true">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:Objectnummering">
                     <xs:attribute name="kerngegeven" type="xs:boolean" fixed="true"/>
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="bron" minOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="bag-stuf:BronDocument"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <!-- 24-07-2006 renamed "officieel" to "geconstateerd" -->
         <xs:element name="geconstateerd" nillable="true">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="inOnderzoek" nillable="true">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <!-- 07-08-2006 added "correctie" -->
         <xs:element name="correctie" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="tijdvakGeldigheid" type="bag-stuf:TijdvakGeldigheid" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BagObjectAlt">
      <xs:annotation>
         <xs:documentation>Idem BagObject, alleen met identificatie van 4 ipv 16 (woonplaats)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identificatie" nillable="true">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:WoonplaatsCodering">
                     <xs:attribute name="kerngegeven" type="xs:boolean" fixed="true"/>
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="bron" minOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="bag-stuf:BronDocument"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <!-- 24-07-2006 renamed "officieel" to "geconstateerd" -->
         <xs:element name="geconstateerd" nillable="true">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="inOnderzoek" nillable="true">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <!-- 07-08-2006 added "correctie" -->
         <xs:element name="correctie" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="tijdvakGeldigheid" type="bag-stuf:TijdvakGeldigheid" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GerelateerdBagObject">
      <xs:annotation>
         <xs:documentation>idem BagObject, maar nu voor relaties (alleen id is dan verplicht)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identificatie" nillable="true">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:Objectnummering">
                     <xs:attribute name="kerngegeven" type="xs:boolean" fixed="true"/>
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="bron" minOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="bag-stuf:BronDocument"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="geconstateerd" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="inOnderzoek" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="tijdvakGeldigheid" type="bag-stuf:TijdvakGeldigheid" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GerelateerdBagObjectAlt">
      <xs:annotation>
         <xs:documentation>idem BagObjectAlt, maar nu voor relaties (alleen id is dan verplicht)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identificatie" nillable="true">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:WoonplaatsCodering">
                     <xs:attribute name="kerngegeven" type="xs:boolean" fixed="true"/>
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="bron" minOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="bag-stuf:BronDocument"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="geconstateerd" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="inOnderzoek" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="tijdvakGeldigheid" type="bag-stuf:TijdvakGeldigheid" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BagObjectVraag">
      <xs:annotation>
         <xs:documentation>Base type met audit, brondoc en geldigheid</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identificatie" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:Objectnummering">
                     <xs:attribute name="kerngegeven" type="xs:boolean" fixed="true"/>
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="bron" minOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="bag-stuf:BronDocument"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="geconstateerd" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="inOnderzoek" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="tijdvakGeldigheid" type="bag-stuf:TijdvakGeldigheid" nillable="true" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BagObjectVraagAlt">
      <xs:annotation>
         <xs:documentation>Idem BagOvjectVraag alleen met identificatie van 4 ipv 16</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identificatie" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:WoonplaatsCodering">
                     <xs:attribute name="kerngegeven" type="xs:boolean" fixed="true"/>
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="bron" minOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="bag-stuf:BronDocument"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="geconstateerd" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="inOnderzoek" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:JaNeeType">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="tijdvakGeldigheid" type="bag-stuf:TijdvakGeldigheid" nillable="true" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BronDocument">
      <xs:annotation>
         <xs:documentation>Documentdatum en nummer</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="documentnummer" nillable="true">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:DocumentNummering">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="documentdatum" nillable="true">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="bag:Datum">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TijdvakGeldigheid">
      <xs:annotation>
         <xs:documentation>Aangepaste TijdvakGeldigheid (StUF:TijdvakGeldigheid bevat namelijk 2 DatumMetIndicators (8 digits) en dit type heeft GEEN tijd component)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="begindatumTijdvakGeldigheid" nillable="true">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="StUF:Tijdstip">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="einddatumTijdvakGeldigheid" nillable="true" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="StUF:Tijdstip">
                     <xs:attributeGroup ref="StUF:element"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <!--==========================================================================================================-->
</xs:schema>
