trunk/lvkoppeling/doc/sample service/bagservice.asmx.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.voorst.nl/VoorstVariant/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.voorst.nl/VoorstVariant/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Service voor het ophalen van basisgegevens: pand, perceel, adres. Let op: daar waar een ADRES wordt opgehaald wordt eigenlijk een VERBLIJFSOBJECT bedoeld. Het Id van een adres is het id van het verblijfsobject - maar het teruggegeven object wordt adres genoemd omdat 'verblijfsobject' en vakterm is, en 'adres' een term is die beter in de belevingswereld van een burger past.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.voorst.nl/VoorstVariant/">
      <s:element name="ZoekAdres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Straatnaam" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Huisnummer" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Huisletter" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Toevoeging" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Woonplaats" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Gemeente" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekAdresResult" type="tns:ArrayOfAdres"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAdres">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Adres" nillable="true" type="tns:Adres"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Adres">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long"/>
          <s:element minOccurs="0" maxOccurs="1" name="Straatnaam" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Huisnummer" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Huisletter" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Toevoeging" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Aanduiding" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Woonplaats" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Gemeente" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="X" type="tns:NFloat"/>
          <s:element minOccurs="0" maxOccurs="1" name="Y" type="tns:NFloat"/>
          <s:element minOccurs="0" maxOccurs="1" name="WOZObjectNr" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFloat">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:float"/>
        </s:sequence>
      </s:complexType>
      <s:element name="UserCredentials" type="tns:UserCredentials"/>
      <s:complexType name="UserCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="AutorizationKey" type="s:string"/>
        </s:sequence>
        <s:anyAttribute/>
      </s:complexType>
      <s:element name="ZoekAdresOpPostcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Postcode_num" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Postcode_alfa" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Huisnummer" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Huisletter" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Toevoeging" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresOpPostcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekAdresOpPostcodeResult" type="tns:ArrayOfAdres"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresOpOpenbareruimte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Openbareruimte_id" type="s:long"/>
            <s:element minOccurs="0" maxOccurs="1" name="Huisnummer" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Huisletter" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Toevoeging" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresOpOpenbareruimteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekAdresOpOpenbareruimteResult" type="tns:ArrayOfAdres"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresOpPerceel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KadGemeente" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="KadSectie" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="KadPerceelNummer" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="KadIndexLetter" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="KadIndexNummer" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresOpPerceelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekAdresOpPerceelResult" type="tns:ArrayOfAdres"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresInExtent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="X1" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Y1" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="X2" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Y2" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresInExtentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekAdresInExtentResult" type="tns:ArrayOfAdres"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresInCirkel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="X" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Straal" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresInCirkelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekAdresInCirkelResult" type="tns:ArrayOfAdres"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresOpPand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Pand_id" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresOpPandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekAdresOpPandResult" type="tns:ArrayOfAdres"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresFotos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Verblijfsobject_id" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekAdresFotosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekAdresFotosResult" type="tns:ArrayOfString"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ZoekOpenbareruimteOpNaam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Straatnaam" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Woonplaats" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Gemeente" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekOpenbareruimteOpNaamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekOpenbareruimteOpNaamResult" type="tns:ArrayOfOpenbareruimte"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOpenbareruimte">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Openbareruimte" nillable="true" type="tns:Openbareruimte"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Openbareruimte">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long"/>
          <s:element minOccurs="0" maxOccurs="1" name="Straatnaam" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Woonplaats" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Gemeente" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ZoekPandOpNaam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Naam" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPandOpNaamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekPandOpNaamResult" type="tns:ArrayOfPand"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pand" nillable="true" type="tns:Pand"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pand">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long"/>
          <s:element minOccurs="0" maxOccurs="1" name="Naam" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Geometrie">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any/>
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="ZoekPandOpAdres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Verblijfsobject_id" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPandOpAdresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekPandOpAdresResult" type="tns:ArrayOfPand"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPandOpPerceel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KadGemeente" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="KadSectie" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="KadPerceelNummer" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="KadIndexLetter" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="KadIndexNummer" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPandOpPerceelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekPandOpPerceelResult" type="tns:ArrayOfPand"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPandInExtent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="X1" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Y1" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="X2" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Y2" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPandInExtentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekPandInExtentResult" type="tns:ArrayOfPand"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPandInCirkel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="X" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Straal" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPandInCirkelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekPandInCirkelResult" type="tns:ArrayOfPand"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPandOpPunt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="X" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPandOpPuntResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekPandOpPuntResult" type="tns:ArrayOfPand"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPerceelOpAanduiding">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KadGemeente" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="KadSectie" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="KadPerceelNummer" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="KadIndexLetter" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="KadIndexNummer" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPerceelOpAanduidingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekPerceelOpAanduidingResult" type="tns:ArrayOfPerceel"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPerceel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Perceel" nillable="true" type="tns:Perceel"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Perceel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Gemeente" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Sectie" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="PerceelNummer" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="IndexLetter" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="IndexNummer" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Geometrie">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any/>
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="ZoekPerceelOpAdres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Verblijfsobject_id" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPerceelOpAdresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekPerceelOpAdresResult" type="tns:ArrayOfPerceel"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPerceelOpPand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Pand_id" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPerceelOpPandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekPerceelOpPandResult" type="tns:ArrayOfPerceel"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPerceelInExtent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="X1" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Y1" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="X2" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Y2" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPerceelInExtentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekPerceelInExtentResult" type="tns:ArrayOfPerceel"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPerceelInCirkel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="X" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Straal" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPerceelInCirkelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekPerceelInCirkelResult" type="tns:ArrayOfPerceel"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPerceelOpPunt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="X" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekPerceelOpPuntResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekPerceelOpPuntResult" type="tns:ArrayOfPerceel"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekGemeentelijkeMonumentenInPolygoon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ordinates" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekGemeentelijkeMonumentenInPolygoonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekGemeentelijkeMonumentenInPolygoonResult" type="tns:ArrayOfMonument"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMonument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Monument" nillable="true" type="tns:Monument"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Monument">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long"/>
          <s:element minOccurs="0" maxOccurs="1" name="Naam" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Geometrie">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any/>
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="ZoekRijksMonumentenInPolygoon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ordinates" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZoekRijksMonumentenInPolygoonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZoekRijksMonumentenInPolygoonResult" type="tns:ArrayOfMonument"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ZoekAdresSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekAdres"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekAdresResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresOpPostcodeSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekAdresOpPostcode"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresOpPostcodeSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekAdresOpPostcodeResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresOpPostcodeUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresOpOpenbareruimteSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekAdresOpOpenbareruimte"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresOpOpenbareruimteSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekAdresOpOpenbareruimteResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresOpOpenbareruimteUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresOpPerceelSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekAdresOpPerceel"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresOpPerceelSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekAdresOpPerceelResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresOpPerceelUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresInExtentSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekAdresInExtent"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresInExtentSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekAdresInExtentResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresInExtentUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresInCirkelSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekAdresInCirkel"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresInCirkelSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekAdresInCirkelResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresInCirkelUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresOpPandSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekAdresOpPand"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresOpPandSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekAdresOpPandResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresOpPandUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresFotosSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekAdresFotos"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresFotosSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekAdresFotosResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekAdresFotosUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekOpenbareruimteOpNaamSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekOpenbareruimteOpNaam"/>
  </wsdl:message>
  <wsdl:message name="ZoekOpenbareruimteOpNaamSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekOpenbareruimteOpNaamResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekOpenbareruimteOpNaamUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandOpNaamSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekPandOpNaam"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandOpNaamSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekPandOpNaamResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandOpNaamUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandOpAdresSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekPandOpAdres"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandOpAdresSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekPandOpAdresResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandOpAdresUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandOpPerceelSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekPandOpPerceel"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandOpPerceelSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekPandOpPerceelResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandOpPerceelUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandInExtentSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekPandInExtent"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandInExtentSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekPandInExtentResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandInExtentUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandInCirkelSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekPandInCirkel"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandInCirkelSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekPandInCirkelResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandInCirkelUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandOpPuntSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekPandOpPunt"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandOpPuntSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekPandOpPuntResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekPandOpPuntUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelOpAanduidingSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekPerceelOpAanduiding"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelOpAanduidingSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekPerceelOpAanduidingResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelOpAanduidingUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelOpAdresSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekPerceelOpAdres"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelOpAdresSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekPerceelOpAdresResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelOpAdresUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelOpPandSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekPerceelOpPand"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelOpPandSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekPerceelOpPandResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelOpPandUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelInExtentSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekPerceelInExtent"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelInExtentSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekPerceelInExtentResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelInExtentUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelInCirkelSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekPerceelInCirkel"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelInCirkelSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekPerceelInCirkelResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelInCirkelUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelOpPuntSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekPerceelOpPunt"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelOpPuntSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekPerceelOpPuntResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekPerceelOpPuntUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekGemeentelijkeMonumentenInPolygoonSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekGemeentelijkeMonumentenInPolygoon"/>
  </wsdl:message>
  <wsdl:message name="ZoekGemeentelijkeMonumentenInPolygoonSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekGemeentelijkeMonumentenInPolygoonResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekGemeentelijkeMonumentenInPolygoonUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="ZoekRijksMonumentenInPolygoonSoapIn">
    <wsdl:part name="parameters" element="tns:ZoekRijksMonumentenInPolygoon"/>
  </wsdl:message>
  <wsdl:message name="ZoekRijksMonumentenInPolygoonSoapOut">
    <wsdl:part name="parameters" element="tns:ZoekRijksMonumentenInPolygoonResponse"/>
  </wsdl:message>
  <wsdl:message name="ZoekRijksMonumentenInPolygoonUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:portType name="BAGServiceSoap">
    <wsdl:operation name="ZoekAdres">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek adres op aanduiding</wsdl:documentation>
      <wsdl:input message="tns:ZoekAdresSoapIn"/>
      <wsdl:output message="tns:ZoekAdresSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresOpPostcode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek adres op postcode</wsdl:documentation>
      <wsdl:input message="tns:ZoekAdresOpPostcodeSoapIn"/>
      <wsdl:output message="tns:ZoekAdresOpPostcodeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresOpOpenbareruimte">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek adres openbare ruimte (= straat) id en huisnummer/letter/etc</wsdl:documentation>
      <wsdl:input message="tns:ZoekAdresOpOpenbareruimteSoapIn"/>
      <wsdl:output message="tns:ZoekAdresOpOpenbareruimteSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresOpPerceel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek adres op kadstrale perceel aanduiding</wsdl:documentation>
      <wsdl:input message="tns:ZoekAdresOpPerceelSoapIn"/>
      <wsdl:output message="tns:ZoekAdresOpPerceelSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresInExtent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek adres binnen rechthoek gedefinieerd door (X1,Y1)-(X2,Y2)- coördinaten in RD stelsel</wsdl:documentation>
      <wsdl:input message="tns:ZoekAdresInExtentSoapIn"/>
      <wsdl:output message="tns:ZoekAdresInExtentSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresInCirkel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek adres binnen cirkel gedefinieerd door (Y1,Y1) en straal - coördinaten in RD stelsel</wsdl:documentation>
      <wsdl:input message="tns:ZoekAdresInCirkelSoapIn"/>
      <wsdl:output message="tns:ZoekAdresInCirkelSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresOpPand">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek adres op id van een pand</wsdl:documentation>
      <wsdl:input message="tns:ZoekAdresOpPandSoapIn"/>
      <wsdl:output message="tns:ZoekAdresOpPandSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresFotos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek (WOZ) foto's bij een adres</wsdl:documentation>
      <wsdl:input message="tns:ZoekAdresFotosSoapIn"/>
      <wsdl:output message="tns:ZoekAdresFotosSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekOpenbareruimteOpNaam">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek openbare ruimte (= straat) op naam en eventueel woonplaats/straat</wsdl:documentation>
      <wsdl:input message="tns:ZoekOpenbareruimteOpNaamSoapIn"/>
      <wsdl:output message="tns:ZoekOpenbareruimteOpNaamSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandOpNaam">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek pand op naam (bijvoorbeeld "bibliotheek")</wsdl:documentation>
      <wsdl:input message="tns:ZoekPandOpNaamSoapIn"/>
      <wsdl:output message="tns:ZoekPandOpNaamSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandOpAdres">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek pand op id van het verblijfsobject (adres) id</wsdl:documentation>
      <wsdl:input message="tns:ZoekPandOpAdresSoapIn"/>
      <wsdl:output message="tns:ZoekPandOpAdresSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandOpPerceel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek alle panden op een perceel</wsdl:documentation>
      <wsdl:input message="tns:ZoekPandOpPerceelSoapIn"/>
      <wsdl:output message="tns:ZoekPandOpPerceelSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandInExtent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek pand dat (deels) valt binnen rechthoek gedefinieerd door (X1,Y1)-(X2,Y2)- coördinaten in RD stelsel</wsdl:documentation>
      <wsdl:input message="tns:ZoekPandInExtentSoapIn"/>
      <wsdl:output message="tns:ZoekPandInExtentSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandInCirkel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek perceel dat (deels) valt binnen een cirkel gedefinieerd door (Y1,Y1) en straal - coördinaten in RD</wsdl:documentation>
      <wsdl:input message="tns:ZoekPandInCirkelSoapIn"/>
      <wsdl:output message="tns:ZoekPandInCirkelSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandOpPunt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek pand op punt gedefinieerd door (X,Y)- coördinaten in RD stelsel</wsdl:documentation>
      <wsdl:input message="tns:ZoekPandOpPuntSoapIn"/>
      <wsdl:output message="tns:ZoekPandOpPuntSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelOpAanduiding">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek perceel op kadastrale aanduiding</wsdl:documentation>
      <wsdl:input message="tns:ZoekPerceelOpAanduidingSoapIn"/>
      <wsdl:output message="tns:ZoekPerceelOpAanduidingSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelOpAdres">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek perceel op verblijfsobject (adres) id</wsdl:documentation>
      <wsdl:input message="tns:ZoekPerceelOpAdresSoapIn"/>
      <wsdl:output message="tns:ZoekPerceelOpAdresSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelOpPand">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek perceel waarop pand met opgegeven id ligt</wsdl:documentation>
      <wsdl:input message="tns:ZoekPerceelOpPandSoapIn"/>
      <wsdl:output message="tns:ZoekPerceelOpPandSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelInExtent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek perceel dat (deels) valt binnen rechthoek gedefinieerd door (X1,Y1)-(X2,Y2)- coördinaten in RD stelsel</wsdl:documentation>
      <wsdl:input message="tns:ZoekPerceelInExtentSoapIn"/>
      <wsdl:output message="tns:ZoekPerceelInExtentSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelInCirkel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek perceel dat (deels) valt binnen een cirkel gedefinieerd door (Y1,Y1) en straal - coördinaten in RD stelsel</wsdl:documentation>
      <wsdl:input message="tns:ZoekPerceelInCirkelSoapIn"/>
      <wsdl:output message="tns:ZoekPerceelInCirkelSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelOpPunt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek perceel op punt gedefinieerd door (X,Y)- coördinaten in RD stelsel</wsdl:documentation>
      <wsdl:input message="tns:ZoekPerceelOpPuntSoapIn"/>
      <wsdl:output message="tns:ZoekPerceelOpPuntSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekGemeentelijkeMonumentenInPolygoon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek gemeentelijke monumenten by polygon (x1,y1 x2,y2 x3,y3 ...)</wsdl:documentation>
      <wsdl:input message="tns:ZoekGemeentelijkeMonumentenInPolygoonSoapIn"/>
      <wsdl:output message="tns:ZoekGemeentelijkeMonumentenInPolygoonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ZoekRijksMonumentenInPolygoon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zoek gemeentelijke monumenten by polygon (x1,y1 x2,y2 x3,y3 ...)</wsdl:documentation>
      <wsdl:input message="tns:ZoekRijksMonumentenInPolygoonSoapIn"/>
      <wsdl:output message="tns:ZoekRijksMonumentenInPolygoonSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BAGServiceSoap" type="tns:BAGServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ZoekAdres">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdres" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekAdresUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresOpPostcode">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresOpPostcode" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekAdresOpPostcodeUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresOpOpenbareruimte">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresOpOpenbareruimte" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekAdresOpOpenbareruimteUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresOpPerceel">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresOpPerceel" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekAdresOpPerceelUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresInExtent">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresInExtent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekAdresInExtentUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresInCirkel">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresInCirkel" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekAdresInCirkelUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresOpPand">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresOpPand" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekAdresOpPandUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresFotos">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresFotos" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekAdresFotosUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekOpenbareruimteOpNaam">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekOpenbareruimteOpNaam" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekOpenbareruimteOpNaamUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandOpNaam">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPandOpNaam" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekPandOpNaamUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandOpAdres">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPandOpAdres" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekPandOpAdresUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandOpPerceel">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPandOpPerceel" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekPandOpPerceelUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandInExtent">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPandInExtent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekPandInExtentUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandInCirkel">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPandInCirkel" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekPandInCirkelUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandOpPunt">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPandOpPunt" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekPandOpPuntUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelOpAanduiding">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPerceelOpAanduiding" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekPerceelOpAanduidingUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelOpAdres">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPerceelOpAdres" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekPerceelOpAdresUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelOpPand">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPerceelOpPand" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekPerceelOpPandUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelInExtent">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPerceelInExtent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekPerceelInExtentUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelInCirkel">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPerceelInCirkel" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekPerceelInCirkelUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelOpPunt">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPerceelOpPunt" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekPerceelOpPuntUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekGemeentelijkeMonumentenInPolygoon">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekGemeentelijkeMonumentenInPolygoon" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekGemeentelijkeMonumentenInPolygoonUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekRijksMonumentenInPolygoon">
      <soap:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekRijksMonumentenInPolygoon" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ZoekRijksMonumentenInPolygoonUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BAGServiceSoap12" type="tns:BAGServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ZoekAdres">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdres" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekAdresUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresOpPostcode">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresOpPostcode" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekAdresOpPostcodeUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresOpOpenbareruimte">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresOpOpenbareruimte" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekAdresOpOpenbareruimteUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresOpPerceel">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresOpPerceel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekAdresOpPerceelUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresInExtent">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresInExtent" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekAdresInExtentUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresInCirkel">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresInCirkel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekAdresInCirkelUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresOpPand">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresOpPand" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekAdresOpPandUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekAdresFotos">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekAdresFotos" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekAdresFotosUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekOpenbareruimteOpNaam">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekOpenbareruimteOpNaam" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekOpenbareruimteOpNaamUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandOpNaam">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPandOpNaam" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekPandOpNaamUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandOpAdres">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPandOpAdres" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekPandOpAdresUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandOpPerceel">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPandOpPerceel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekPandOpPerceelUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandInExtent">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPandInExtent" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekPandInExtentUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandInCirkel">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPandInCirkel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekPandInCirkelUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPandOpPunt">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPandOpPunt" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekPandOpPuntUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelOpAanduiding">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPerceelOpAanduiding" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekPerceelOpAanduidingUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelOpAdres">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPerceelOpAdres" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekPerceelOpAdresUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelOpPand">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPerceelOpPand" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekPerceelOpPandUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelInExtent">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPerceelInExtent" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekPerceelInExtentUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelInCirkel">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPerceelInCirkel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekPerceelInCirkelUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekPerceelOpPunt">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekPerceelOpPunt" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekPerceelOpPuntUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekGemeentelijkeMonumentenInPolygoon">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekGemeentelijkeMonumentenInPolygoon" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekGemeentelijkeMonumentenInPolygoonUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZoekRijksMonumentenInPolygoon">
      <soap12:operation soapAction="http://www.voorst.nl/VoorstVariant/ZoekRijksMonumentenInPolygoon" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ZoekRijksMonumentenInPolygoonUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BAGService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Service voor het ophalen van basisgegevens: pand, perceel, adres. Let op: daar waar een ADRES wordt opgehaald wordt eigenlijk een VERBLIJFSOBJECT bedoeld. Het Id van een adres is het id van het verblijfsobject - maar het teruggegeven object wordt adres genoemd omdat 'verblijfsobject' en vakterm is, en 'adres' een term is die beter in de belevingswereld van een burger past.</wsdl:documentation>
    <wsdl:port name="BAGServiceSoap" binding="tns:BAGServiceSoap">
      <soap:address location="https://sl.voorst.nl/voorstvariant/bagservice.asmx"/>
    </wsdl:port>
    <wsdl:port name="BAGServiceSoap12" binding="tns:BAGServiceSoap12">
      <soap12:address location="https://sl.voorst.nl/voorstvariant/bagservice.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>